---
import "../styles/global.css";
import Navbar from "../sections/Navbar";
import Footer from "../sections/Footer.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<title>Velas Montenegro: Duran más que las demás</title>
	</head>
	<body class="min-h-screen">
		<Navbar />
		<main class="min-h-screen">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<script>
	import { initScrollAnimations } from "../lib/scrollAnimate";
	import { initQuoteButtons } from "../lib/quoteRedirect";
	initScrollAnimations();
	initQuoteButtons();
</script>
